<html>
    <style>
        body{
        }
        p{
            font-family: 'Poppins', sans-serif;
        }
        
        h1 {
            font-family: 'Poppins', sans-serif;        
        } 
        input{
            height:30px;
            border-width: 0.5px;
            margin-right: 20px;
            border-radius: 10px;
            border-style: solid;
            font-family: 'Poppins', sans-serif;        
        }
        </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins&display=swap" rel="stylesheet">

    <h1>Are you sure you want to proceed to create the account?</h1>
    <form action="#" method = "post">
        <input type="submit" name="action" value="Yes" >
        <input type="submit" name="action" value="No">
    </form>



    
</html>