<!DOCTYPE html>
<html>
    <style>
        body{
        }
        p{
            font-family: 'Poppins', sans-serif;
        }
        
        h1 {
            font-family: 'Poppins', sans-serif;        
        } 
        input{
            height:30px;
            border-width: 0.5px;
            margin-right: 20px;
            border-radius: 10px;
            border-style: solid;
            font-family: 'Poppins', sans-serif;        
        }
        </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins&display=swap" rel="stylesheet">

<head>
    <!-- <meta name = "viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Thank You</title>
    <!-- <link rel="stylesheet" href="../styles/thank_you.css"> -->
</head>
<body>
    <!-- <div class="container">

    </div> -->
    <p>An email was sent to you regarding activation of account.</p>
    <p>Please activate within the next 24 hours.</p>
</body>
<script></script>
</html>